
h1 {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  text-align: center;
  position: sticky;
  font-size: 60px;
  font-weight: lighter;
}

h2 {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  text-align: left;
  display: flexbox;
  position: static;
}

p {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  text-align: center;
  display: flexbox;
  position: static;
}

div {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  text-align: left;
  margin-left: 0px;
  display: block;
  position: static;
}

.Recipe .row {
  display: flex;
}

.Recipe .column {
  display: block;
  flex: 50%;
  text-indent: 20px;
}

.Recipe a {
  margin-left: 30px;
  display: flex;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  position: absolute;
}

.Recipe a:link,
.Recipe a:visited {
  background-color: rgb(36, 173, 151);
  color: white;
}

.Recipe a:hover,
.Recipe a:active {
  background-color: rgb(0, 195, 255);
}
